body {
    background-color: #00d9ff;
}
.4d-head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 30%;
    margin-bottom: 15px; 
    height: 30px;
}
.4d i {
    float: right;
}